#!/usr/bin/env python
PACKAGE = "image_cloud"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("alpha",   double_t,	  0, "alpha value", 4,  0, 255)
gen.add("beta",   double_t,	  0, "beta value", 0,  0, 255)

gen.add("subscribe_topic",   str_t,   0, "Subscribe Topic",  "")
gen.add("publish_topic",     str_t,   0, "Publish Topic",  "")

exit(gen.generate(PACKAGE, "image_clouud", "brightness"))
