#!/usr/bin/env python
PACKAGE = "image_cloud"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("cliplimit",   double_t,	  0, "clahe cliplimit", 4,  0, 50)
gen.add("subscribe_topic",   str_t,   0, "Subscribe Topic",  "")
gen.add("publish_topic",     str_t,   0, "Publish Topic",  "")

exit(gen.generate(PACKAGE, "image_clouud", "clahe"))
