<launch>
  <node pkg="nodelet" type="nodelet" name="image_and_pcl_manager"  args="manager" output="screen">
  	<param name="num_worker_threads" type="int" value="4" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="Rectifier_nodelet_cam4_test" args="load ladybug/Rectifier_nodelet ladybug_nodelet" output="screen">
  	<param name="sub" 	value="/ladybug5/camera4/image_raw" />
  	<param name="pub" 	value="/ladybug5/camera4/image_color_rect" />
  	<param name="lut" 	value="$(find ladybug)/calibration/13122828_camera4_h1024_w1224_map_" />
  	<param name="sub_info" 	value="/ladybug5/camera4/camera_info" />
  	<param name="zoom" 	value="2.2" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="image_enhancement_4blur" args="load image_cloud/Blur image_and_pcl_manager" output="screen">
  	<param name="sub" type="string" value="/ladybug5/camera4/image_color_rect" />
  	<param name="pub" type="string" value="/ladybug5/camera4/image_color_rect_blur" />
  	<param name="filter"  type="int" value="2" />
  	<param name="kernel"  type="int" value="13" />
  </node>
    
  <node pkg="nodelet" type="nodelet" name="image_enhancement_4gamma" args="load image_cloud/Gamma image_and_pcl_manager" output="screen">
  	<param name="sub" type="string" value="/ladybug5/camera4/image_color_rect_blur" />
  	<param name="pub" type="string" value="/ladybug5/camera4/image_color_rect_gamma" />
  	<param name="gamma"  type="double" value="2.2" />
  </node>
  
   <node pkg="nodelet" type="nodelet" name="image_enhancement_4edge" args="load image_cloud/Edge_detector_nodelet image_and_pcl_manager" output="screen">
	<param name="subscribe_topic" type="string" value="/ladybug5/camera4/image_color_rect_blur" />
	<param name="publish_topic" type="string" value="/ladybug5/camera4/image_color_rect_edge" />
	<param name="kernel_size"  	  type="int" value="5" />
	<param name="threshold1"  type="int" value="50" />
	<param name="threshold2"  type="int" value="200" />
	<param name="color"  	  type="bool" value="true" />
  </node>
  
  <node pkg="nodelet" type="nodelet" name="image_pcl_fusion" args="load image_cloud/Image_cloud_nodelet image_and_pcl_manager" output="screen">
  	<param name="sub_pcl" type="string" value="/velodyne/cloud" />
  	<param name="sub_img" type="string" value="/ladybug5/camera4/image_color_rect_edge" />
  	<param name="sub_img_info" type="string" value="/ladybug5/camera4/image_color_rect_info" />
  	<param name="reference_frame_id"  type="string" value="/odom_combined" />
  	<param name="image_frame_id"  type="string" value="ladybug_camera4" />
  </node>
  
   <node pkg="nodelet" type="nodelet" name="pcl_to_image" args="load image_cloud/Pcl_to_image_nodelet image_and_pcl_manager" output="screen">
  	<param name="sub_pcl" type="string" value="/velodyne/cloud" />
  	<param name="sub_img_info" type="string" value="/ladybug5/camera4/image_color_rect_info" />
  	<param name="image_frame_id"  type="string" value="ladybug_camera4" />
  	<param name="resize_x"  type="double" value="1" />
  	<param name="resize_y"  type="double" value="1" />
  </node>
  
</launch>
